body{
	padding: 0;
	border: 0;
	margin: 0;
	background-color: hsl(50, 100%, 50%);	

	text-align: center;	
/*	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 13px;
	line-height: 18px;*/
	color: black;	
}

html, body {
	/*font-size: 13px;*/
    width:      100%;
    height:     100%;
}

#title{
	position: absolute;
	width: 100%;
	height: 100px;
	z-index: 2;
	left: 0;
	top: 0;
	/*text-align: center;*/
	/*padding: 10px 0 0 0;*/
	background-color: hsl(50, 100%, 50%);
	border-bottom: 5px solid black;
	text-align: left;
}

.titleBlock{
	display: inline-block;
	width: 50%;	
	text-align: right;
}

.searchBlock{
	display: inline-block;
	/*width: 20%;	*/
	text-align: left;
}

.pageTitle{
	font-size: 60px;
	font-weight: 600;
}

#firstImage{
	position: absolute;
	/*width: 600px;*/
	z-index: 2;
	left: 0;
	top: 100px;
	text-align: center;
	/*background-color: brown;*/
}

#lastImage{
	position: absolute;
	/*width: 600px;*/
	z-index: 2;
	left: 0;
	top: 100px;
	text-align: center;
	padding: 0 0 0 5px;
	/*background-color: brown;*/
}

#content{
	position: absolute;
	z-index: 0;
	top: 100px;
	left: 0;
	/*overflow: scroll;*/
	/*background-color: hsl(20, 100%, 72%);*/
}

#divide1{
	position: absolute;
	width: 4px;
	/*height: 600px;*/
	top: 0;
	left: -10px;
	border-left: 5px dashed black;
}
#divide2{
	position: absolute;
	width: 4px;
	/*height: 600px;*/
	top: 0;
	left: -10px;
	border-left: 5px dashed black;
}

.results{
	/*position: absolute;*/
	display: inline-block;
	/*width: 600px;	*/
	/*vertical-align: top;
	top: 0;
	left: -10px;	*/
	text-align: center;
	/*background-color: hsl(20, 100%, 72%);*/
}

.connections{
	/*display: inline-block;*/
	width: 150px;	
	height: 15	0px;
	/*vertical-align: top;*/
	border: 5px solid black;
	background-color: hsl(50, 100%, 50%);
	/*background-color: black;*/
}

.firstAndLast{
	/*width: 400px;*/
	/*height: 400px;*/
	/*display: inline-block;*/
	border: 5px solid black;
}

.thumb{
	/*width: 100px;*/
	/*height: 400px;*/
	height: 80px;
	display: inline-block;
	border: 5px solid black;
}

input{
	height: 20px;
	width: 200px;
	background-color: white;
	border: 5px solid black;
	font-weight: 600;
	padding: 0 5px 0 5px;
}

button{
	height: 30px;
	width: 40px;
	font-weight: 600;
	color: hsl(50, 100%, 50%);
	background-color: black;	
	border: none;
}